# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Python
# =========================
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

# =========================
# Environment
# =========================
**/.env

# =========================
# Logs
# =========================
**/logs/

# =========================
# Storage
# =========================
**/storage/uploads/
**/storage/reports/

# ML models
**/storage/models/


# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Docker
# =========================
# **/.dockerignore


backend/.env

backend/logs/
backend/storage/uploads/
backend/storage/reports/
backend/storage/models/

**/__pycache__/
**/.pytest_cache/